.partie{
text-align: center;
font-size: 20px;
border:solid 2px;
}

h1{
text-align: center;
color: white;
}

.pages{
color: white;
margin-right: 15px;
}

.logiciel{
height: 100px;
width: 100px;
margin: 10px;
border-radius: 15px;
}

.info{
background-color: rgb(95, 99, 101);
width: 450px;
height: 300px;
margin-right: 330px;
display: flex;
align-items: center;
border-radius: 40px;
justify-content: center;
}

.bureau{
background-color: rgb(95, 99, 101);
width: 450px;
height: 300px;
display: flex;
align-items: center;
border-radius: 40px;
justify-content: center;
}

.global{
display: flex;
justify-content: center;
color: white;
}