.partie{
text-align: center;
font-size: 20px;
border:solid 2px;
}

h1{ 
text-align: center;
color: white;
}

.pages{
color: white;
margin-right: 15px;
}

.icone{
height: 100px;
width: 100px;
border-radius: 15px;
margin-right: 15px;
}

.ligne{
text-align: center;    
font-size: 20px;
}

.contact{
background-color: rgb(30, 32, 32);
height: 330px;
width: 1000px;
border-radius: 70px;
display: flex;
margin-left: 240px;
justify-content: center;
align-items: center;
color: white;
}

#ic{
margin-right: 100px;
margin-left: 100px;
}