.partie{
text-align: center;
font-size: 20px;
border:solid 2px;
}

h1{ 
text-align: center;
color: white;
}

.pages{
color: rgb(249, 246, 246);
margin-right: 15px;
}

.diplome{
background-color: rgb(95, 99, 101);
text-align: center;
color: white;
width: 550px;
height: 550px;
border-radius: 50px;
margin-left: 480px;
font-size: 20px;
}

.bac{
width: 350px;
height: 350px;
}