.partie{
text-align: center;
font-size: 20px;
border:solid 2px;
}

h1{ 
text-align: center;
color: white;
}

.pages{
color: rgb(255, 254, 254);
margin-right: 15px;
}

a{
color: white;
}

.proce{
display: flex;

}

img{
height: 250px;
width: 300px;
}

.motivation{
font-size: 25px;
}

.pdf{
margin: 30px;
margin-left: 290px;
text-align: center;
}

#pdf1{
margin-left: 300px;
}

.motivation{
text-align: center;
}